* {
	margin: 0;
	padding: 0;
}

@font-face {
  font-family: 'bebasneue-bold';
  src: url("./fonts/BebasNeue Bold.otf") format("opentype");
}

@font-face {
  font-family: 'bebasneue-regular';
  src: url("./fonts/BebasNeue Regular.otf") format("opentype");
}

@font-face {
  font-family: 'bebasneue-light';
  src: url("./fonts/BebasNeue Light.otf") format("opentype");
}

h1 {
	font-family: "bebasneue-bold";
}

p, a {
	font-family: "bebasneue-regular";
}

a {
	text-decoration: none;
	font-size: $xl-size;
	color: #fff;
}

a:visited {
	color: white;
}

a:hover {
	text-decoration: underline;
}

#flipPage {
	height: 100vh;
}

.container {
	position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
}

.firstHalf {
	position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 50%;
}

.secondHalf {
	position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  bottom: 0;
}

.rfp-touchZone {
  background-color: rgba(255,255,255,0.25);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.rfp-touchZone:hover {
  background-color: rgba(255,255,255,0.25);
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

